<%- include ../_header.ejs %>
  <div class="container-fluid">
    <%- include('_form.ejs', {method:'PUT', action:'/resources/'+data.id, submit_text:'Create'}) %>
  </div>
<%- include ../_footer.ejs %>
